* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0B2434;

}



.maine {
  height: 400px;
  width: 400px;
  margin: 150px auto 0;
  gap: 0px;
  opacity: 1; /* Adjust opacity for visibility */
  background: #F5F5F5;
  align-items: center;
  display: flex;
  justify-content: center;
   border-radius: 5px;
   
}


.value{
  width: 35.84px;
  height: 35.84px;
  text-align: center;
  padding-top: 7px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px; /* Add margin to create space between items */
  border-radius: 3.81px 0px 0px 0px;
  box-shadow: 0px 2px 2px 0px #00000026;
  background: #FFFFFF;
}
.container {
  padding-top: 30px;
display: grid;
grid-template-columns: repeat(5,auto);
gap:20px;
cursor: pointer;

}
.number{
  font-size:18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:grey
}
